.navBar{
    position: fixed;
    width: 75vw;
    height: 50px;
    box-shadow: 0 3px 10px 0 rgba(10, 10, 10, 0.1);
    margin-left: 25vw;
    background-color: white;
    text-align: center;
}

.navBar .logo{
	height: 50px;
}