<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta th:name="_csrf" th:content="${_csrf.token}"/>
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
	<div th:fragment="post">
   	<div  th:unless="${#lists.isEmpty(formularios)}">
	<div  th:each="formulario : ${formularios}">
       	<a th:href="@{/responderformulario/{id}/{titulo} (id=${formulario.id}, titulo=${formulario.titulo})}">
               <div class="post">
                   <div class="userPost">
                       <img th:src="@{/images/avatars/{foto}.png (foto=${formulario.usuario.foto})}" class="imgUserPost" />
                       <div>
                           <h1 class="nameUserPost" th:text="${formulario.usuario.nome}">Giovanna Lima</h1>
                           <h1 class="timePost" th:text="${#dates.format(formulario.dt_fechamento, 'dd-MMMM-yyyy')}">21h</h1>
                       </div>
                       <div class="qtdReply">
                           <i class="fas fa-reply"></i>
                           <h1 class="reply" th:text="${formulario.n_respostas}">15</h1>
                       </div>
                   </div>
                   <div class="content">
                       <h1 class="titlePost" th:text="${formulario.titulo}">Pesquisa sobre segurança noturna no Campus do Pici</h1>
                       <h1 class="postContent" th:text="${formulario.descricao}">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                           Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                           Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum...</h1>
                   </div>
               </div>
           </a>
	</div>
	</div>
	</div>
</body>

</html>