<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>
<body>
	<div class="sideBar" th:fragment="sidebar">
	  <div class="profile">
	      <img th:src="@{/images/profile.jpg}" class="imgProfile"/>
	      <i class="fas fa-award"></i>
	      <h1 class="nameProfile">Karla Christie</h1>
	  </div>
	  <a href="#" th:href="@{/timeline}">
		  <article class="optionSidebar" th:classappend="${module == 'timeline' ? 'active' : ''}">
		    <i class="fas fa-clipboard-list"></i>
		    <h1 class="textOption">Responder</h1>
		  </article>
	  </a>
	  <article class="optionSidebar">
	      <i class="fas fa-user"></i>
	    <h1 class="textOption">Perfil</h1>
	  </article>
	  <a href="#" th:href="@{/newForm}">
		  <article class="optionSidebar" th:classappend="${module == 'newForm' ? 'active' : ''}">
		      <i class="fas fa-plus"></i>
		    <h1 class="textOption">Criar formulário</h1>
		  </article>
	  </a>
	  <article class="optionSidebar">
	      <i class="fas fa-folder"></i>
	    <h1 class="textOption">Meus formulários</h1>
	  </article>
	  <article class="optionSidebar">
	      <i class="fas fa-list-ul"></i>
	    <h1 class="textOption">Respondidos</h1>
	  </article>
	  <article class="optionSidebar">
	      <i class="fas fa-trophy"></i>
	    <h1 class="textOption">Ranking</h1>
	  </article>
	  <article class="optionSidebar">
	      <i class="fas fa-power-off"></i>
	    <h1 class="textOption">Sair</h1>
	  </article>
	</div>
</body>
</html>