form{
	width: 100%;
	text-align: center;
}

.textInput{
	width: 100%;
	background: none;
	border: none;
	border-bottom: 2px solid var(--secundary);
	padding: 5px 15px;
	outline: none;
	font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 40px;
}

.textInput:focus{
	border-bottom: 2px solid var(--primary);
}

.button{
	border-radius: 50px;
	border: none;
	height: 45px;
	font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 0 30px;
    cursor: pointer;
    transition: .5s background, color;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    outline: none;
}

.buttonPrimary{
	background-color: var(--secundary);
	color: #FFFFFF;
}

.buttonPrimary:hover{
	background-color: var(--primary);
}

.buttonSecundary{
	background-color: #FFFFFF;
	color: var(--secundary);
	border: 1px solid var(--secundary);
}

.buttonSecundary:hover{
	background-color: var(--primary);
	color: #FFFFFF;
	border: 1px solid var(--primary);
}

.dateInput, .selectBox{
	border: 1px solid var(--secundary);
	border-radius: 4px;
	height: 38px;
	padding: 0 14px;
	font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text);
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    margin-top: 10px;
    margin-bottom: 30px;
    width: 200px;
}

form label{
	font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text);
}

