.containerInfos{
	margin-left: 50%;
	position: relative;
	padding: 10vh 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	min-height: 80vh;
}

.titleLogin{
	width: 400px;
	font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: var(--primary);
    text-align: center;
    margin-bottom: 55px;
}

.infosBottom{
	margin-top: 10vh;
}

.noAccount{
	font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--primary);
    text-align: center;
}

.btnRegister{
	padding: 0 55px;
}

.errorLogin{
	text-align: left;
	width: 100%;
	margin-top: -30px;
	margin-bottom: 10px;
}

.errorLogin h1{
	font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: red;
}