.titleRegister{
	width: 500px;
	margin-bottom: 13px;
}

.subtitleRegister{
	width: 460px;
	font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: var(--text);
    text-align: center;
    margin-bottom: 30px;
}

.formRegister{
	text-align: left;
}

.formGender{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.formRegister .buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.formRegister .buttonSecundary{
	margin-right: 30px;
}

.avatars{
	display: flex;
	justify-content: space-between;
}

.avatars img{
	margin-top: 10px;
	margin-bottom: 30px;
	width: 100px;
	cursor: pointer;
}

.avatars input[type="radio"]{
	display: none;
}

.avatars input[type="radio"]:checked+label img{
    opacity: 0.4;
}

.errorRegister, .errorRegister2{
	font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: red;
    text-align: left;
}

.errorRegister{
	margin-top: -20px;
    margin-bottom: 20px;
}