<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
	<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments/sidebar.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/elements.css}" rel="stylesheet" />
    <link th:href="@{/css/newForm.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments/post.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <title>Responde Aqui</title>
</head>
<body>
	<div th:insert="fragments/sidebar :: sidebar"> </div>
    <div th:insert="fragments/navbar :: navbar"></div>
   	<div class="success">Formulário atualizado com sucessso!</div>
   	<div class="failure">Falha ao atualizar formulario</div>
    <div class="container">
    	<div class="containerNewForm">
	    	<h1 class="titleNewForm">Edite seu formulário!</h1>
	    	<form class="formNewForm" th:action="@{/editarformulario/{id} (id=${formulario.id})}" th:object="${formulario}" th:method="post">
		    	<input type="text" id="titulo" class="textInput" placeholder="Título" th:value="${formulario.titulo}" th:field="*{titulo}"/>
				<div th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
		    	<input type="text" id="link" class="textInput" placeholder="Link" th:value="${formulario.link}" th:field="*{link}"/>
		    	<div th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></div>
		    	<textarea rows="5" id="descricao" class="textArea" placeholder="Descrição" th:text="${formulario.descricao}" th:field="*{descricao}"></textarea>
		    	<div th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></div>
		    	<label class="label">Data de fechamento:</label><br/>
		    	<input id="dt_fechamento" type="date" class="dateInput" placeholder="Data" th:value="${formulario.dt_fechamento}" th:field="*{dt_fechamento}"/><br/>
		    	<div th:if="${#fields.hasErrors('dt_fechamento')}" th:errors="*{dt_fechamento}"></div>
	    		<input type="checkbox" id="restrict" onclick="checkRestrict()">
    			<label class="label" for="restrict">Meu formulário é destinado à um público específico.</label><br/>
    			<h1 class="subtitleCheckbox">Você pode restringir seu formulário por cidade, campus, curso, turno e sexo.</h1>
	    		
	    		<div class="restrictDiv" id="restrictDiv">
	    			<label class="label">Para quem você deseja restringir seu formulário?</label><br/>
	    			<div class="formRestrict">
						<article>
							<input type="checkbox" id="cidade" onclick="checkCidade()"/>
							<label class="label" for="cidade">Cidade</label>
						</article>
						<article>
							<input type="checkbox" id="campus" onclick="checkCampus()"/>
							<label class="label" for="campus">Campus</label>
						</article>
						<article>
							<input type="checkbox" id="curso" onclick="checkCurso()"/>
							<label class="label" for="curso">Curso</label>
						</article>
						<article>
							<input type="checkbox" id="turno" onclick="checkTurno()"/>
							<label class="label" for="turno">Turno</label>
						</article>
						<article>
							<input type="checkbox" id="sexo" onclick="checkSexo()"/>
							<label class="label" for="sexo">Sexo</label>
						</article>
					</div>
	    		</div>
	    		
	    		<div class="selects" id="selectCidade">
					<label>Cidade:</label><br/><div th:if="${#fields.hasErrors('id_cidade')}" th:errors="*{id_cidade}"></div>
					<select id="selectCidade" class="selectBox" th:field="*{id_cidade}">
						<option value="0">Selecione</option>
						<option value="1">Fortaleza</option>
					</select>
				</div>
				
				<div class="selects" id="selectCampus">
					<label>Campus:</label><br/><div th:if="${#fields.hasErrors('id_campus')}" th:errors="*{id_campus}"></div>
					<select id="selectCampus" class="selectBox" th:field="*{id_campus}">
						<option value="0">Selecione</option>
						<option value="1">Pici</option>
					</select>
				</div>
				
				<div class="selects" id="selectCurso">
					<label>Curso:</label><br/><div th:if="${#fields.hasErrors('id_curso')}" th:errors="*{id_curso}"></div>
					<select id="selectCurso" class="selectBox" th:field="*{id_curso}">
						<option value="0">Selecione</option>
						<option value="1">Sistemas e Mídias</option>
					</select>
				</div>
	    		
	    		<div class="selects" id="selectTurno">
					<label>Turno:</label><br/>
					<select class="selectBox">
						<option>Matutino</option>
						<option>Vespertino</option>
						<option>Integral</option>
						<option>Noturno</option>
					</select>
				</div>
				
				<div class="selects" id="selectSexo">
					<label>Sexo:</label><br/>
					<select id="selectSexo" class="selectBox" th:field="*{sexo}">
						<option value="m">Masculino</option>
						<option value="f">Feminino</option>
					</select>
					<div th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></div>
				</div>
	    		
	    		<div class="buttons">
		    		<a th:href="@{/meusformularios}">
						<input type="button"  value="Cancelar" class="button buttonSecundary" />
					</a>
					<input type="button" th:onclick="editarFormulario(descricao.value, [[${formulario.dt_criacao}]], dt_fechamento.value, [[${formulario.id}]], selectCampus.value, selectCidade.value, selectCurso.value, [[${formulario.id_usuario}]], link.value, [[${formulario.n_respostas}]], selectSexo.value, titulo.value, [[${formulario.turno}]]);" value="Cadastrar" class="button buttonPrimary" />
				</div>
	    	</form>
    	</div>
   	</div>
	
</body>

<script>
	function checkRestrict() {
	  var checkBox = document.getElementById("restrict");
	  var div = document.getElementById("restrictDiv");
	  if (checkBox.checked == true)
		  div.style.display = "block";
	  else 
		  div.style.display = "none";
	}
	
	function checkTurno(){
	  var checkBox = document.getElementById("turno");
	  var div = document.getElementById("selectTurno");
	  if (checkBox.checked == true)
		  div.style.display = "block";
	  else 
		  div.style.display = "none";
	}
	
	function checkSexo(){
	  var checkBox = document.getElementById("sexo");
	  var div = document.getElementById("selectSexo");
	  if (checkBox.checked == true)
		  div.style.display = "block";
	  else 
		  div.style.display = "none";
	}
	
	function checkCidade(){
	  var checkBox = document.getElementById("cidade");
	  var div = document.getElementById("selectCidade");
	  var campus = document.getElementById("selectCampus");
	  var curso = document.getElementById("selectCurso");
	  if (checkBox.checked == true){
		  div.style.display = "block";
		  campus.style.display = "none";
		  curso.style.display = "none";
	  }else 
		  div.style.display = "none";
	}
	
	function checkCampus(){
	  var checkBox = document.getElementById("campus");
	  var cidade = document.getElementById("selectCidade");
	  var campus = document.getElementById("selectCampus");
	  var curso = document.getElementById("selectCurso");
	  if (checkBox.checked == true){
		  cidade.style.display = "block";
		  campus.style.display = "block";
		  curso.style.display = "none";
	  }else{ 
		  cidade.style.display = "none";
		  campus.style.display = "none";
	  }
	}
	
	function checkCurso(){
	  var checkBox = document.getElementById("curso");
	  var cidade = document.getElementById("selectCidade");
	  var campus = document.getElementById("selectCampus");
	  var curso = document.getElementById("selectCurso");
	  if (checkBox.checked == true){
		  cidade.style.display = "block";
		  campus.style.display = "block";
		  curso.style.display = "block";
	  }else{ 
		  cidade.style.display = "none";
		  campus.style.display = "none";
		  curso.style.display = "none";
	  }
	}
</script>

</html>