<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/ranking.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments/sidebar.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments/navbar.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <title>Responde Aqui</title>
</head>
<body>
	<div th:insert="fragments/sidebar :: sidebar"> </div>
    <div th:insert="fragments/navbar :: navbar"></div>
    <div class="container">
    	<div class="ranking">
    		<h1 class="titleRanking">Ranking</h1>
    		<h1 class="subtitleRanking">Esses são os usuários que mais interagem no Responde Aqui :)</h1>
    		<div class="user">
    			<h1 class="place">1° lugar</h1>
    			<div>
    				<img th:src="@{/images/avatars/sloth.png}" class="imgProfile"></img>
    				<h1>Karla Christie</h1>
    			</div>
    			<h1 class="punctuation">320 pontos</h1>
    		</div>
    		<article class="line"></article>
    		
    		<div class="user">
    			<h1 class="place">2° lugar</h1>
    			<div>
    				<img th:src="@{/images/avatars/sloth.png}" class="imgProfile"></img>
    				<h1>Karla Christie</h1>
    			</div>
    			<h1 class="punctuation">320 pontos</h1>
    		</div>
    		<article class="line"></article>
    		
    		<div class="user">
    			<h1 class="place">3° lugar</h1>
    			<div>
    				<img th:src="@{/images/avatars/sloth.png}" class="imgProfile"></img>
    				<h1>Karla Christie</h1>
    			</div>
    			<h1 class="punctuation">320 pontos</h1>
    		</div>
    		<article class="line"></article>
    	</div>
    </div>
</body>
</html>